{% assign tasks = ["results"] %}

{% assign parent_tasks = tasks | reject: "parent_id" %}
{% assign sub_tasks = tasks | where: "parent_id", nil %}

{% assign subtask_handling = trmnl.plugin_settings.custom_fields_values.subtask_handling %}
{% if subtask_handling == 'hide' %}
  {% assign tasks_to_show = parent_tasks %}
{% endif %}
{% if subtask_handling == 'show' %}
  {% assign tasks_to_show = sub_tasks %}
{% endif %}

{% comment %} {% assign size = 'quadrant' %} {% endcomment %}
{% assign max_cols = 2 %}
{% if size == "half_vertical" %}
  {% assign max_cols = 1 %}
{% endif %}
{% if size == 'quadrant' %}
  {% assign max_cols = 1 %}
{% endif %}

<div class="view view--{{ size }}">
  <div class="layout">
    <div class="columns" data-overflow-max-cols="{{ max_cols }}">
      <div class="column gap">
        {% for task in tasks_to_show %}
        <div class="item">
          <div class="meta">
            <span class="index">{{ forloop.index }}</span>
          </div>
          <div class="content">
            <span class="title title--small">{{ task.content }}</span>
            <span class="description"> {{ task.description }}</span>
            <div class="flex gap--small">
              <span class="label label--small"> due: {% if task.due %}{{ task.due.date | date: "%d.%m" }}{% else %} - {% endif %}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="https://www.todoist.com/static/favicon.ico" alt="Todoist Logo">
    <span class="title">Todoist</span>
    <span class="instance"> updated: {{ "now" | date: "%s" | date: "%H:%M" }} </span>
  </div>
</div>
