{% if next_cursor == null or next_cursor == '' %}
  {% assign downloaded_all_tasks = true %}
{% else %}
  {% assign downloaded_all_tasks = false %}
{% endif %}

{% comment %} {% assign size = 'half_vertical' %}
{% assign size = 'half_horizontal' %}
{% assign size = 'quadrant' %} {% endcomment %}

{% assign tasks = ["results"] %}
{% assign num_tasks = tasks | size %}

<div class="view view--{{ size }}">
  <div class="layout">
    <div class="columns" data-overflow-max-cols="2">
      <div class="column gap">
        {% for task in tasks %}
        <div class="item">
          <div class="meta">
            <span class="index">{{ forloop.index }}</span>
          </div>
          <div class="content">
            <span class="title title--small">{{ task.content }}</span>
            <span class="description"> {{ task.description }}</span>
            <div class="flex gap--small">
              <span class="label label--small"> due: {% if task.due %}{{ task.due.date | date: "%d.%m" }}{% else %} - {% endif %}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="https://www.todoist.com/static/favicon.ico" alt="Todoist Logo">
    <span class="title">Todoist</span>
    <span class="instance"> updated: {{ "now" | date: "%s" | date: "%H:%M" }} </span>
  </div>
</div>
